misc/

# KiCad transient/working files (do not commit)
**/#auto_saved_files#
**/_autosave-*.kicad_sch
**/~*.kicad_sch.lck
**/*.kicad_sch-bak
**/*.bak
**/*.tmp
**/*-backups/*.zip
**/*-backups/manual_rollback_*/

# KiCad local/session state
**/*.kicad_prl
